@model DaoManhTung_N05_221231041.Models.SanPham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBanNhoNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBanNhoNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBanLonNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBanLonNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiBat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiBat)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
